<% include ./partials/header %>
<% include ./partials/carousel %>


<!-- Container (Featured) -->
<!--EVENT1  -->

<div id="band" class="container text-center">
  <h3>Featured Events(TECH)</h3>
  <p><em>We love tech!</em></p>
  <p>If you’re serious about startups, we’re still keeping it as real as ever. At Disrupt, everyone is a startupper – no matter if you’re a founder, investor, hacker or tech leader. So much more than just on-stage interviews, Disrupt is where you’ll find the renowned Startup Battlefield competition, a virtual Hackathon, hundreds of startups in Startup Alley, Workshops and legendary networking at our After Parties… and we’re in San Francisco, right where startup dreams began.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Disrupt SF 2018</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/07/jones-infowars.jpg" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Location: San Fransico</p>
        <p>Date: Sep 5-7</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Disrupt SF HACKATHON 2018</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/07/labo-796x417.png" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Location: San Fransico</p>
        <p>Date: Sep 5</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>STARTUP BATTLEFIELD MENA 2018</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/07/labo-796x417.png" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
       <p>Location: Beirut, Lebanon</p>
        <p>Date: Oct 3</p>
      </div>
    </div>
  </div>
</div>



<!--EVENT2  -->
<div id="band2" class="container text-center">
  <h3>Featured Events (MUSIC)</h3>
  <p><em>We love Music</em></p>
  <p>The Playground is a media company built for the global dance music community. It is an evolving platform supporting dance / electronic music and culture. Its brand represents dance music’s manifestation of identity, community, and the global human connection. It is an editorial voice, a reflection of culture, and an independent content source. Its output is made possible by a team of some of the most dedicated, hardest working people in the business.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong> Creamfields</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="https://i2.wp.com/travelfreak.net/wp-content/uploads/2018/04/Tomorrowland-belgium.jpg?resize=800%2C450&ssl=1" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>Location:  Daresbury, UK</p>
        <p>Date: August 2018</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Glastonbury</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="https://i1.wp.com/travelfreak.net/wp-content/uploads/2018/04/Hardwell-tomorrowland.jpg?zoom=1.25&resize=684%2C385&ssl=1" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo5" class="collapse">
        <p>Location: Glastonbury, UK </p>
        <p>Date: June 8</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Awakenings</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://i2.wp.com/travelfreak.net/wp-content/uploads/2018/04/Tomorrowland-belgium.jpg?resize=800%2C450&ssl=1" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo6" class="collapse">
       <p>Location: Beirut, Lebanon</p>
        <p>Date: Oct 3</p>
      </div>
    </div>
  </div>
</div>

<!--EVENT3  -->
<div id="band3" class="container text-center">
  <h3>Featured Events (GAMING)</h3>
  <p><em>We love Games!</em></p>
  <p>The playground provides the world’s premier blog for computer and video games and related products. We showcase the video game industry’s top talent as they pack various competitions & events around the world, connecting tens of thousands of the best, brightest, and most innovative in the interactive entertainment industry. For three exciting days, leading-edge companies, groundbreaking new technologies, and never-before-seen products will be showcased. The Playground connects you with both new and existing partners, industry executives, gamers, and social influencers, providing unprecedented exposure to the entire video game industry, all under one roof. This is where digital worlds meet real innovation.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Nintendo Direct</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="https://www.nintendo.com/nintendo-direct/06-12-2018/archive-thumb.jpg" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo7" class="collapse">
        <p>Location: San Fransico</p>
        <p>Date: Sep 5-7</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Game Developers Conference (GDC)</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="http://www.gdconf.com/img/about/gdc17.jpg" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo8" class="collapse">
        <p>Location: San Fransico</p>
        <p>Date: Sep 5</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Entertainment & Electronic Expo (E3)</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://www.e3expo.com/wp-content/uploads/2018/07/e3logo.png" class="img-rounded person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo9" class="collapse">
       <p>Location: Beirut, Lebanon</p>
        <p>Date: Oct 3</p>
      </div>
    </div>
  </div>
</div>



<center><nav aria-label="Page navigation example">
  <h4>
    View Other Events
  </h4>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" id="btn2" href="#band">1</a></li>
    <li class="page-item"><a class="page-link" id="btn" href="#band2">2</a></li>
    <li class="page-item"><a class="page-link" id="btn3" href="#band3">3</a></li>
  </ul>
</nav></center>






<!-- Container (Blog Section) -->
<div id="tour" class="bg-1">
  <div class="container">
     <h3 class="text-center">BLOG</h3>
 
<div class="blog-item">
  <% allBlogs.forEach(function(blog){ %>
    <a href="/blogs/<%= blog._id %>">
        <div class="icon">
            <img src="<%= blog.image %>" alt="">
        </div>
        <div class="content">
            <div class="title"><%= blog.title %><span class="blog-date"><%= blog.date.toDateString() %></span></div>
            <div class="rounded"></div>

            <p>
                <%- blog.body.substring(0,0) %>
            </p>
            <form action="/blogs/<%= blog._id %>">
              <input type="submit" class="btn" value="Read More"/>
            </form>
        </div>
        <div class="item-arrow">
            <i class="fa fa-long-arrow-right" aria-hidden="true"> </i>
        </div>
    </a>
    <% }) %>
</div>
  </div>
</div>

<!--Modal Newsletter  -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-newsletter">
		<div class="modal-content">
			<form action="/examples/actions/confirmation.php" method="post">
				<div class="modal-header">
					<h4>Join Our Newsletter</h4>	
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
				</div>
				<div class="modal-body text-center">				
					<p>Subscribe our newsletter to receive the latest news and exclusive offers every week. No spam.</p>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Enter your email" required>
						<input type="submit" class="btn btn-primary btn-block" value="Subscribe">
					</div>
					<div class="footer-link" data-dismiss="modal" ><a href="#">No Thanks</a></div>
				</div>
			</form>			
		</div>
	</div>
</div>  



<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Any queries About this blog!</em></p>

  <div class="row">
    <div class="col-md-4">
      <p>Buy us a coffee..</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Fremont, CA, US</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1595481332</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: info@theplayground.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
  



  <!-- Google Maps -->
<div id="googleMap"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(37.5520967, -122.0011778);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcr6ROJJbiLqwNv78jdoBjWTyD2ewnl9A&callback=myMap"></script>
<!-- Google Maps -->
  

<!--DIV FADE For featured EVENTS  -->
<script>
    
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
  
  <script>
    //     When 2 is clicked from page 1, page 2 shows
  $('#btn').click(function(e){    
    $('#band').fadeOut('slow', function(){
        $('#band2').fadeIn('slow');
    });
});
  //     When 2 is clicked from page 2, page 1 shows  
   $('#btn2').click(function(e){    
    $('#band2').fadeOut('slow', function(){
        $('#band').fadeIn('slow');
    });
});  
    
//     When 3 is clicked from page 1, page 3 shows    
     $('#btn3').click(function(e){    
    $('#band').fadeOut('slow', function(){
        $('#band3').fadeIn('slow');
    });
});   
    
//     When 3 is clicked from page 2, page 3 shows
     $('#btn3').click(function(e){    
    $('#band2').fadeOut('slow', function(){
        $('#band3').fadeIn('slow');
    });
}); 
    
  </script>
<!--  -->


  <% include ./partials/footer %>