<% include ./partials/head %>

 <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/">The Playground👾</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">HOME</a></li>
                  <li><a href="/blogs/new">NEW POST</a></li>
                  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
                  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      
                      <% if(!currentUser){ %>
                      <li><a href="/login">LOGIN</a></li>
                      <li><a href="/register">SignUp</a></li>
                      <% } else{ %>
                      <li><a href="#">Hey, <%= currentUser.username %>!</a></li> 
                      <li><a href="/logout">Log Out</a></li> 
                      <% } %>
                    </ul>
                  </li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
          

                                         


<div class="container">
    <div class="page-header" style="text-align:center;"><h2><%= blog.title %></h2></div>
        <div class="ui top attached segment">
          <div class="embed-responsive embed-responsive-16by9">
            <center></center><iframe class="embed-responsive-item" src="<%= blog.image %>"></iframe><center>
          </div>
            <div class="content">
                 <span>Date: <%= blog.date.toDateString() %></span>
            </div>
            <div class="description">
               <p><%- blog.body %></p>
               <p><em>Posted By <%= blog.author.username %></em></p>
            </div>
            
            <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-success glyphicon glyphicon-pencil" href="/blogs/<%= blog._id %>/edit">EDIT</a>
          <br><br>
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                   <a class="btn btn-danger" href="/blogs/<%= blog._id %>/edit" onclick="notice()">DELETE</a>
                </form>
            <% } %>
        </div>
  
  <br>
  
    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
            <div class="comment">
              <form class="ui reply form" action="/blogs/<%= blog._id %>/comments" method="POST">
                <div class="field">
                  <textarea name="text"  class="form-control" rows="5" id="comment" placeholder="Write your opinion"></textarea>
                </div>
                <br>
                <div class="inline field">
                  <button class="btn btn-success"><i class="icon edit"></i>Leave your comment</button>
           
                </div>
              </form>
            </div>
    </div>
    <div class="comments">
        <div class="comment">
                <% blog.comments.forEach(function(comment){ %>
                    <a class="avatar">
                      <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
                    </a>
                    <div class="content">
                        <a class="author"><%= comment.author.username %></a>
                        <div class="metadata">
                            <span class="date"><%= comment.date.toDateString() %></span>
                        </div>
                        <div class="text">
                            <p><%= comment.text %></p>
                        </div>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div class="mini ui buttons">
                                <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit" class="mini ui yellow button">Edit</a>
                                <div class="or" data-text="or"></div>
                                <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="mini ui red button">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            
        </div>
    </div>

          <!--Modal Newsletter  -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-newsletter">
		<div class="modal-content">
			<form action="/examples/actions/confirmation.php" method="post">
				<div class="modal-header">
					<h4>Join Our Newsletter</h4>	
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
				</div>
				<div class="modal-body text-center">				
					<p>Sign Up or Login if you wish to recieve our NEWSLETTERS.</p>
					<div class="footer-link" data-dismiss="modal" ><a href="#">No Thanks</a></div>
				</div>
			</form>			
		</div>
	</div>
</div> 


<script>
function notice() {
confirm("Are you Sure you want to delete this post?");
}
</script>

<% include ./partials/footer %>